<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @curriculum.date %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @curriculum.chapter %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
